name: 编译 registry

on:
  repository_dispatch:
  push:
    paths:
      - 'Dockerfile'
  workflow_dispatch:
    inputs:
      build:
        description: '编译 registry'
        required: true
        default: '编译 registry'
  schedule:
    - cron: '0 21 * * *'
  watch:
    types: [started]

permissions:
  contents: write
  actions: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id || ! github.event.sender.id

    steps:
      - name: 检出代码（包含子模块）
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 设置 QEMU（支持多平台 Docker 构建）
        uses: docker/setup-qemu-action@v3

      - name: 设置 Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 登录 DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: 登录 GitHub 容器仓库（ghcr.io）
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: 构建并推送多平台 Docker 镜像到 DockerHub 和 ghcr.io
        uses: docker/build-push-action@v5
        with:
          file: ./Dockerfile
          context: .
          platforms: linux/amd64,linux/arm/v7,linux/arm64,linux/386
          push: true
          tags: |
            ${{ github.repository_owner }}/registry:latest
            ghcr.io/${{ github.repository_owner }}/registry:latest


      - name: 清理旧 Releases
        uses: dev-drprasad/delete-older-releases@v0.3.3
        with:
          keep_latest: 1
          delete_tags: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: 删除 workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 1

